/* */
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');
body{
font-family:arial;
background-color:#B5CDD2;
}
*{
box-sizing:border-box;
}
#box{
max-width:700px;
margin:auto;
margin-top:100px;
}

input[type=text]{
padding:17px;
font-size:20px;
border:none;
float:left;
width:85%;
background:linear-gradient(#ffffff,#3399ccc);
background:-moz-linear-gradient(#ffffff,#3399ccc);
background:-webkit-linear-gradient(#ffffff,#3399ccc);
border-radius:5px 0 0 5px;
}


button{
float:left;
width:15%;
padding:17px;
background:linear-gradient(#3366ff,#336699);
background:-moz-linear-gradient(#3366ff,#336699);
background:-webkit-linear-gradient(#3366ff,#336699);
color:white;
font-size:20px;
border:none;
cursor:pointer;
border-radius:0 5px 5px 0;

}

.searchResultDiv {
  float:left;	
  width: 100%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 20px;
}

.searchResultDiv h3 {
  color: #1a0dab;
}
.searchResultDiv h3 a {
  color: #1a0dab;
  display: inline-block;
  line-height: 16px;
  text-decoration: none;
}
.searchResultDiv h3 a:hover {
  border-bottom: 3px solid;
}
.searchResultDiv a:visited {
  color: #1a0dab;
}
.searchResultDiv .link a {
   width: 100%;
  text-decoration: none;
  color: #287e44;
}
.searchResultDiv .link a:hover {
  text-decoration: none;
}
.searchResultDiv .searchmatch {
	width: 100%;
  font-weight: bold;
}
.searchResultDiv .description {
	width: 100%;
  color: #414141;
}